nav{         
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(59, 2, 78);
}


nav ul{
    display: flex;
    justify-content: center;
   
}


nav ul li{
    list-style: none;
    margin: 0 23px;
}


nav ul li a{
    text-decoration: none;
    margin: 0 23px;
}


nav ul li a:hover{
    color: rgb(165, 51, 207);
    font-size: 1.03rem;
}


main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

.left{
    font-size: 1.09 rem;
}


.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 13px 0;
}


.firstsection > div{
    width: 45%;
}


.leftsection{
    width: 50%;
    font-size: 2.5rem;
}


.rightsection{
    width: 50%;
}


.rightsection img{
    width: 70%;
}

#element{
    color: rgb(165, 51, 207);
    font-size: 3rem;
}

.second{
    max-width: 80vw;
    margin:  auto;
    height: 80Vh;
}
.second h1{
    font-size: 2.5rem;
}

.second .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.second .vertical{
    height: 93px;
    width: 1px;
    background-color: antiquewhite;
    margin: 0 100px;
} 